<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.user.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.mall.user.model.entity.UserInfo">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="inviteCode" column="invite_code" />
            <result property="vipLevel" column="vip_level" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="creator" column="creator" />
            <result property="updater" column="updater" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,invite_code,vip_level,status,create_time,
        update_time,creator,updater
    </sql>
</mapper>
